# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env
.env.*

# Distribution / packaging
build/
dist/
*.egg-info/

# IDEs and editors
.vscode/
.idea/

# Data and models
# (Removed from ignore to allow uploading datasets and trained models)

# OS files
.DS_Store
Thumbs.db
